body {
  background-color: #f5d04e;
}

.card {
  position: absolute;
  margin: auto;
  inset: 0;
  height: 520px;
  width: 100%;
  max-width: 380px;
  padding: 22px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 12px 0px 0px rgb(0, 0, 0);
}
.BackgroundImg {
  width: 100%;
  border-radius: 16px;
}
.learning {
  background-color: #f5d04e;
  margin-top: 25px;
  margin-right: 276px;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  border-radius: 5px;
}
.one {
  font-family: Arial;
}
.two {
  font-family: sans-serif;
  color:  hsl(0, 0%, 50%);
  font-size: 17px;
}
.Avatar{
    width: 10%;
    transform: translate(0px, 20px);
}
h3{
    transform: translate(48px,-32px);
}