#html {
    background-color: antiquewhite;
}

.html {
    background-color: cadetblue;
}

li {
    background-color: brown;
}

li {
    background-color: burlywood;
}

li {
    background-color: teal;
}

#html {
    background-color: azure;
}